CREATE DATABASE Quantitary;
GO

USE Quantitary;
GO

CREATE TABLE Permisos (
    id INT IDENTITY(1,1) PRIMARY KEY,
    registrarVentas BIT DEFAULT 0,
    verHistorialVentas BIT DEFAULT 0,
    anularVentas BIT DEFAULT 0,
    verProductos BIT DEFAULT 0,
    crearProductos BIT DEFAULT 0,
    editarProductos BIT DEFAULT 0,
    eliminarProductos BIT DEFAULT 0,
    verStock BIT DEFAULT 0,
    verDashboard BIT DEFAULT 0,
    gestionarUsuarios BIT DEFAULT 0,
    verGanacia BIT DEFAULT 0
);
GO

CREATE TABLE Rol (
    id INT IDENTITY(1,1) PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL,
    permisoID INT NOT NULL,
    CONSTRAINT FK_Rol_Permisos FOREIGN KEY (permisoID) REFERENCES Permisos(id)
);
GO

CREATE TABLE Empresa (
    id INT IDENTITY(1,1) PRIMARY KEY,
    nombre VARCHAR(150) NOT NULL
);
GO

CREATE TABLE Usuarios (
    id INT IDENTITY(1,1) PRIMARY KEY,
    nombreUsuario VARCHAR(100) NOT NULL,
    contrasena VARCHAR(255) NOT NULL,
    mail VARCHAR(150) NOT NULL UNIQUE,
    numeroTelefono VARCHAR(30),
    empresaID INT NOT NULL,
    rolID INT NOT NULL,
    CONSTRAINT FK_Usuarios_Empresa FOREIGN KEY (empresaID) REFERENCES Empresa(id),
    CONSTRAINT FK_Usuarios_Rol FOREIGN KEY (rolID) REFERENCES Rol(id)
);
GO

CREATE TABLE Categoria (
    id INT IDENTITY(1,1) PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL
);
GO

CREATE TABLE Proveedores (
    id INT IDENTITY(1,1) PRIMARY KEY,
    productoPrincipal VARCHAR(150),
    costoEnvio DECIMAL(10, 2) DEFAULT 0.00,
    detalles VARCHAR(MAX)
);
GO

CREATE TABLE Productos (
    id INT IDENTITY(1,1) PRIMARY KEY,
    precio DECIMAL(10, 2) NOT NULL,
    categoriaID INT NOT NULL,
    valorVenta DECIMAL(10, 2),
    proveedorID INT NOT NULL,
    cantidadDeVentas INT DEFAULT 0,
    CONSTRAINT FK_Productos_Categoria FOREIGN KEY (categoriaID) REFERENCES Categoria(id),
    CONSTRAINT FK_Productos_Proveedores FOREIGN KEY (proveedorID) REFERENCES Proveedores(id)
);
GO

CREATE TABLE Stock (
    id INT IDENTITY(1,1) PRIMARY KEY,
    productoID INT NOT NULL,
    cantidad INT NOT NULL DEFAULT 0,
    precioUnitario DECIMAL(10, 2) NOT NULL,
    rotacionMensual DECIMAL(10, 2) DEFAULT 0.00,
    cantidadMinimoAlerta INT DEFAULT 0,
    activo BIT DEFAULT 1,
    CONSTRAINT FK_Stock_Productos FOREIGN KEY (productoID) REFERENCES Productos(id)
);
GO

CREATE TABLE Venta (
    id INT IDENTITY(1,1) PRIMARY KEY,
    cantidadDeVentas INT DEFAULT 1,
    usuarioID INT NOT NULL,
    productoID INT NOT NULL,
    CONSTRAINT FK_Venta_Usuarios FOREIGN KEY (usuarioID) REFERENCES Usuarios(id),
    CONSTRAINT FK_Venta_Empresa FOREIGN KEY (empresaID) REFERENCES Empresa(id),
    CONSTRAINT FK_Venta_Productos FOREIGN KEY (productoID) REFERENCES Productos(id)
);
GO

CREATE TABLE DetalleVenta (
    id INT IDENTITY(1,1) PRIMARY KEY,
    ventaID INT NOT NULL,
    productoID INT NOT NULL,
    precioVenta DECIMAL(10, 2) NOT NULL,
    precioCompra DECIMAL(10, 2) NOT NULL,
    porcentajeGanancia DECIMAL(5, 2),
    CONSTRAINT FK_DetalleVenta_Venta FOREIGN KEY (ventaID) REFERENCES Venta(id),
    CONSTRAINT FK_DetalleVenta_Productos FOREIGN KEY (productoID) REFERENCES Productos(id)
);
GO

CREATE TABLE Catalogo (
    id INT IDENTITY(1,1) PRIMARY KEY,
    nombre VARCHAR(100) NOT NULL
);
GO